Repository Ale-dlaczego/finance-management-app, pull requests merged in 2021-04, with the labels that each got.

#4 :coffee: Avatar unit tests
  src/components/Avatar/__tests__/Avatar.spec.tsx
Labels: ready to merge, tests

#3 :alien: creating and pre-styling the Avatar component
  package-lock.json
  package.json
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__tests__/Avatar.spec.tsx
  src/components/Avatar/avatar.scss
  src/components/Avatar/media/user.svg
  src/views/Home/Home.tsx
Labels: ready to merge

#6 :coffee: Balace cards tests
  src/components/BalanceCard/__tests__/BalanceCard.spec.tsx
Labels: ready to merge, tests

#5 :card_index: aadding and styling the BalanceCard component
  package-lock.json
  package.json
  public/media/ball.svg
  public/media/car.svg
  public/media/home.svg
  src/components/BalanceCard/BalanceCard.tsx
  src/components/BalanceCard/__tests__/BalanceCard.spec.tsx
  src/components/BalanceCard/balanceCard.scss
  src/components/TransactionListItem/TransactionListItem.tsx
  src/components/TransactionListItem/TransactionListItemIcon.tsx
  src/components/TransactionListItem/transactionListItem.scss
  src/index.scss
  src/views/Home/Home.tsx
Labels: ready to merge

#7 :coffee: transaction list item tests
  src/components/TransactionListItem/__tests__/TransactionListItem.spec.tsx
Labels: ready to merge, tests

#8 :bee: adding and styling SummaryBalanceCard component
  src/components/SummaryBalanceCard/SummaryBalanceCard.tsx
  src/components/SummaryBalanceCard/summaryBalanceCard.scss
  src/views/Home/Home.tsx
Labels: please review, pull tests

#9 :coffee: Tests
  src/components/SummaryBalanceCard/__tests__/SummaryBalanceCard.spec.tsx
Labels: ready to merge, tests

#11 ☕ Balance card for the summary of all accounts with tests
  src/components/SummaryBalanceCard/__tests__/SummaryBalanceCard.spec.tsx
Labels: ready to merge
